

.App-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.message {
  max-width: 80%;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}


.codebit {
  font-size: 14px;
  width: 95%;

}